{% include "locations/header.html" %}
{% load location_functions %}
{% if user_list %}
    
	<h1>Welcome {{username}}</h1>
	
	<p>There are currently {{p}} unique users on the site.</p>
	
	<h2>All visitors and their location</h2>
	<table id="mainTable">
		<thead>
			<tr>
				<th>User IP</th>
				<th>Location</th>
				<th>Coordinates</th>
				<th>Last visit</th>
				<th data-sort="int">Distance from you</th>
			</tr>
		</thead>
		<tbody>
    {% for user in user_list %}
		<tr>
			<td>{{ user.user_ip }}</td>
			<td>{{ user.location }}</td>
			<td>{{ user.lat }}, {{ user.lon }}</td>
			<td>{{ user.visit_date }}</td>
			<td>{% get_distance lat lon user.lat user.lon %} km</td>
		</tr>
    {% endfor %}
		</tbody>
    </table>
{% else %}
    <p>No users</p>
{% endif %}
<h2>Unique visitors by hours for the previous day</h2>
<table>
	<thead>
		<tr>
			<th>Hour of the day</th>
			<th>Unique visitor count</th>
		</tr>
	</thead>
	<tbody>
{% for hour in hours %}
		<tr>
			<td>{{ hour.time }}</td>
			<td>{{ hour.c }}</td>
		</tr>
    {% endfor %}
	</tbody>
</table>

<script>
$( document ).ready(function() {
	//start the table sorter
    $("#mainTable").stupidtable();
	
	//initial sort by distance
	$("#mainTable").find("th").eq(4).click(); 
});

</script>



{% include "locations/footer.html" %}